/* styles.css */

.experience {
    z-index: -1;
    margin-left: 130px; /* Puedes ajustar el valor según tus necesidades */
    margin-right: 130px; /* Puedes ajustar el valor según tus necesidades */
  }
  
  .experience-item {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #323232; /* Agregamos una barra sólida entre cada experiencia */
  }
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .exp-description {
    color: #0D7377;
  }
  
  .experience-date {
    font-style: italic;
    color: #ccc;
  }
  .titulo-seccion{
    margin-top: 60px;
  }
  
  /* Media Query para dispositivos móviles */
  @media (max-width: 900px) {
    .experience-item {
      padding: 20px;
    }
    .titulo-seccion{
        font-size: 24px;
    }
    .experience-title{
        font-size: 16px;
        
    }
    .experience{
      margin-left: 0px; /* Puedes ajustar el valor según tus necesidades */
      margin-right: 0px;
    }
  }
  