/* COMUN */

.content-wrapper {
  margin-left: 300px; /* Puedes ajustar el valor según tus necesidades */
  margin-right: 300px; /* Puedes ajustar el valor según tus necesidades */
}

h1{
  font-size: 50px;
}
.titulo-seccion{
  font-size: 40px;
  text-align: center;

}

.subtitulo{
  color: #0D7377;
}

/* SECCION 1 */
.presentation-container {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Ajusta según tus necesidades */
  }
  
  .left-column-1 {
    width: 50%; /* Puedes ajustar el ancho según tus necesidades */
    text-align: center;
  }
  .right-column-1 {
    width: 50%; /* Puedes ajustar el ancho según tus necesidades */
    margin-right: 10%;
    text-align: center;
  }
  .habilidades{
    text-align: left;
  }
  
  /* SECCION 2 */

  .technologies-container {
    text-align: center;
    padding: 20px;
  }
  
  .centered-content {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .icons-row {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio entre las filas de iconos */
  }
  
  .icon {
    margin: 0 55px; /* Espacio entre los iconos */
    font-size: 50px;
  }
  .habilidades-subtitulo{
    color: #0D7377;
    margin-left: 19px;
  }

/* SECCION 3 */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px; /* Ajusta según tus necesidades */
}

.left-column-2 {
  display: flex; /* Agrega display: flex para usar flexbox */
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 50%; /* Puedes ajustar el ancho según tus necesidades */
}

.right-column-2 {
  width: 50%; /* Puedes ajustar el ancho según tus necesidades */
}

.datos-contacto {
  text-align: left;
}

.icons-row-2 {
  display: flex;
  margin-top: 20px; /* Espacio entre las filas de iconos */
}

.icon-2 {
  margin: 0 10px; /* Espacio entre los iconos */
  font-size: 30px;
  
}
/* Agrega este estilo en tu archivo de estilos CSS o en línea donde sea aplicable */

.icon-2 a {
  color: inherit; /* Hereda el color del elemento padre (sin color específico) */
  text-decoration: none; /* Quita la decoración de subrayado del enlace */
}




/* DISPOSITIVOS MOVILES */

@media only screen and (max-width: 900px) {

  .content-wrapper {
    margin: 0;
  }
  h1 {
    font-size: 35px;
}
.titulo-seccion{
  font-size: 25px;

}
.icon {
  margin: 0 10px; /* Espacio entre los iconos */
  font-size: 35px;
}

.icon-2 a {
  color: inherit; /* Hereda el color del elemento padre (sin color específico) */
  text-decoration: none; /* Quita la decoración de subrayado del enlace */
}

.subtitulo{
  color: #0D7377;
}
  .presentation-container {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: center;
  }

  .left-column-1,
  .right-column-1,
  .centered-content,
  .left-column-2 {
    width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
    margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
  }
  .right-column-2 {
    order: -1; /* Coloca right-column-2 primero en dispositivos móviles */
    margin-bottom: 20px; /* Ajusta según tus necesidades */
    width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
    margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
  }  
  .contact-container {
    flex-direction: column; /* Cambia la dirección del flexbox a columna en dispositivos móviles */
    align-items: center; /* Alinea los elementos al centro en dispositivos móviles (opcional) */
    margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
    justify-content: center;
    text-align: center;
  }
  
  .technologies-container{
    padding: 0;
  }
  input, textarea{
    max-width: 90%;
  }
}