.content-wrapper {
    margin: 0 auto; /* Establece los márgenes automáticos para centrar horizontalmente */
    max-width: 900px; /* Puedes ajustar el valor según tus necesidades */
    
  }
  
.project-subtitulo{
    color:#0D7377;

}

.notfound{
  text-align: center;
  color:#0D7377;
  font-size: 30px;
}

  @media only screen and (max-width: 900px) {
    
      
      
        .project-titulo {
          font-size: 25px;
          margin-left: 0; /* Ajustado para centrar en la pantalla */
          text-align: center; /* Alineado al centro */
        }
      
        .project-subtitulo {
          font-size: 15px;
          margin:  10px;
          margin-bottom: 30px;
          text-align: center; /* Alineado al centro */
        }
    }
  
  
  