/* Estilos CSS para las tarjetas */

.projects-container {
  display: flex;
  justify-content: space-around; /* Puedes ajustar esto según tu preferencia */
  flex-wrap: wrap;
}

.card {
  border: 1px solid #323232;
  border-radius: 10px;
  overflow: hidden;
  width: 270px;
  height: 500px;
  display: inline-block; /* O usa display: inline-flex; para una disposición más flexible */
  margin-right: 28px;
  margin-top: 20px;

}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card h2 {
  margin-bottom: 8px;
}

.card-links a {
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: #ddd;
}

/* Estilos adicionales para los enlaces */

.link-button {
  text-decoration: none;
  color: #0D7377; /* Puedes ajustar el color según tus preferencias */
}

.project-description{
  color: #0D7377;
}



@media only screen and (max-width: 900px) {

.card {
  width: 300px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  margin-bottom: 30px;

}
}